<nav>
  <ul>
    <li><a <%= link_to 'Home', root_path %> </a></li>

    <li><a <%= link_to 'Artists', artists_path %> </a></li>

    <% if current_user && current_user.admin %>
      <li><%= link_to 'Add Artist', rails_admin.new_path('artist') %> </li>
    <% end %>

    <li><a <%= link_to 'Billboards', billboards_path %> </a></li>

    <% if current_user && current_user.admin %>
    <li><%= link_to 'Add Billboard', rails_admin.new_path('billboard') %> </li>
    <% else %>
    <li><a <%= link_to 'Add Billboards', new_billboard_path %> </a></li>
    <% end %>

    <li><a <%= link_to 'Songs', songs_path %> </a></li>

    <% if current_user && current_user.admin %>
    <li><%= link_to 'Add Song', rails_admin.new_path('song') %> </li>
    <% else %>
    <li><a <%= link_to 'Add Song', new_song_path %> </a></li>
    <% end %>
    
  </ul>
</nav>